<div class="jumbotron">
    <h1 style="text-shadow: 1px 1px 1px #2478fc; color: lightskyblue; font-size: 50px">UTS:my<b>Course</b></h1>
    <p class="lead">Welcome to the UTS:MyCourse home page</p>
</div>
<div class="row">

</div>
